<div class="sidecar col-xs-2" ng-controller="SidecarController" ng-init=setView('about')>
    <div ng-include="templates['sidecar']"></div>
</div>

<div class="col-xs-10">
  <div class="panel-default">
    <div class="text-left panel-body om-title" >
      About MerchantCoin
    </div>
  </div>
</div>

<div class="om-body col-xs-10">
<row>
   <div class="col-xs-12">
       <h3>MerchantCoin Foundation</h3>
       <p>MerchantCoin is the first self sustaining, marketing-centric crypto-currency that incentivizes consumers, advocates and businesses to acquire and use Bitcoin. Despite its rise in stature since inception in 2008, Bitcoin has faced significant challenges in garnering consumer acceptance beyond technology savvy early adopters. Even with the substantial savings in commercial transactions utilizing Bitcoin compared to standard credit card payment processing systems, global transactions completed in Bitcoin are a minute fraction of the total. MerchantCoin was created as a vehicle to generate market awareness and use of Bitcoin through direct incentives to Merchants, advocates and consumers enabling adoption.
       </p>
    </div>
</row>
</div>
