<div class="sidecar col-xs-2" ng-controller="SidecarController" ng-init=setView('about')>
    <div ng-include="templates['sidecar']"></div>
</div>
<div class="col-xs-10">
  <div class="panel-default">
    <div class="text-left panel-body om-title" >
       About MerchantCoin Wallet
    </div>
  </div>
</div>
<div class="om-body col-xs-10">
<row>
        <div class="col-xs-12">
                <h3>Current Status</h3>
		<p><strong>IN DEVELOPMENT:</strong> We continually strive to update our feature set to provide a more enjoyable user experience. Prior to commencing a transaction, if you have any questions regarding the MerchantCoin Wallet or its functionality please contact one of our customer service representatives at <a href="mailto:info@merchantcoin.net">info@merchantcoin.net</a>. </p>
        </div>
</row>


<row >
  <div class="col-xs-12">
     <h3> Aim </h3>
     <p>MerchantCoin is a new type of web wallet which aims to combine security, usability and multi-currency support.</p>
  </div>
</row>
<row>
        <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="thumbnail landing-thumbnail">
                        <img src="/assets/img/secure1.png" width="100px" height="100px" />
                        <div class="caption">
                                <h3>Best in class security</h3>
                        </div>
                </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="thumbnail landing-thumbnail">
                        <img src="/assets/img/ok.png" width="100px" height="100px" />
                        <div class="caption">
                                <h3>Baked in usability</h3>
                        </div>
                </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="thumbnail landing-thumbnail">
                        <img class="alignnone size-full wp-image-492" alt="MultiOmni" src="/assets/img/multiomni1.png" width="100px" height="100px" />
                        <div class="caption">
                                <h3>Multi-currency support</h3>
                        </div>
                </div>
        </div>
</row>
</div>
