<div class="sidecar col-xs-2" ng-controller="SidecarController" ng-init=setView('about')>
    <div ng-include="templates['sidecar']"></div>
</div>

<div class="col-xs-10">
  <div class="panel-default">
    <div class="text-left panel-body om-title" >
         Contact Us
    </div>
  </div>
</div>

<div class="om-body col-xs-10">
  <row>
    <div class="col-xs-10">
      <p>If you have any questions, issues, or just want to provide some general feedback, feel free to reach out to us at:</p>
       <ul class="list-group">
         <li class="list-group-item">Email:  <a href="mailto:info@merchantcoin.net">info@merchantcoin.net</a></li>
         <li class="list-group-item icons">Twitter: <a href="https://twitter.com/merchantcoin" target="_blank" class="twitter"></a></li>
         <li class="list-group-item icons">Facebook: <a href="https://facebook.com/Merchantcoin" target="_blank" class="facebook"></a></li>
       </ul>
    </div>
  </row>
</div>
